# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
*.env
env/
.env.*

# Secrets and Tokens - VERY IMPORTANT
client_secret_755679980004-1a5eob1dph2lhhh9vt0n2edve2d6uf37.apps.googleusercontent.com
client_secret.json
token.json

# VS Code
.vscode/

# macOS
.DS_Store

#Jupyter Notebooks
*.ipynb
*.ipynb_checkpoints
